
<link rel="stylesheet" href="headerLogado.css">
<nav class="container">
                <div class="logo">
                    
                        <img src="../imagens/logo.png" alt="Logo CookBook" id="logo">
                    <!--<img src="../imagens/logo.png" alt="Logo CookBook" id="logo"> -->
                        
                        <a href="../minhas_receitas" id="nome_logo" > CookBook </a>

                </div>
                
                <div class="">
                    <ul class="menu">
                        <li > <a href="../cadastro_receita" class="textMenu"> Cadastra Receita</a></li>
                        <li > <a href="../cadastro_categoria" class="textMenu"> Cadastrar Categoria</a></li>
                        <!-- <li > <a href="../minhas_receitas" class="textMenu"> Minhas Receitas </a></li> -->
                        <li > <a href="../contato" class="textMenu"> Contato </a></li>
                        <li > <a href="../sobre" class="textMenu"> Sobre </a></li>
                    </ul>
                </div>
                <div>
                    <div  >
                        <button id="deslogar" class="deslogar" > Deslogar </button>
                     </div>
                </div>
            </nav>