<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Entre ou Cadastre-se</title>
        <link rel="stylesheet" href="style.css">


    </head>
    <body>
        <header>
                <nav>
                    <div class="classLogo"> 
                        <img id="logo" alt="Chapéu de cozinheiro" src="imagens/logo.png">
                        <a href="../index.html"> <h1 id="nome_logo">MyHealth</h1> </a>
                    </div>
                </nav>

        </header>
    </body>
</html>