<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesLogin.css">
        <link rel="stylesheet" href="header.css">
        <link rel="stylesheet" href="rodape.css">
        <title id="title">Pagina inicial</title>
    
    </head>


    <body>
        <header>
          {{> header}}
        </header>

        <div class="corpoBody">

            
            <div class="formulario">
                <div class="rotulos">
                    <label class="input-label" for="email">Email</label>
                    <label class="input-label" for="senha">Senha</label>
    
                </div>
                <div class="entradasDados">
    
                    <input name="email" id="email" type="email" placeholder="Insira seu email" data-tipo="email" required class="txtEntrada">
    
                    <input class="txtEntrada" name="senha" id="senha"  type="password" placeholder="Digite sua senha" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?!.*[ !@#$%^&*_=+-]).{6,12}$" 
                    title="A senha deve conter entre 6 a 12 caracteres, deve conter pelo menos uma letra maiúscula, um número e não deve conter símbolos." data-tipo="senha" required>
    
                </div>

                

            </div>
            
        </div>

        {{> rodape}}
    </body>


</html>