body{
    /* background-color:#ADD5D0; */
     background-image: linear-gradient(160deg,  #CC5803, #E2711D, #FF9505, #FFB627, #FFC971);   
     width: 100vh ;
     height: 100vh;
 
     font-family: 'Averia Libre';
 }

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    
    
    max-width: fit-content;
    padding-top: 30%; /*345px*/
    padding-left: 10%; /*335px*/
    padding-right: 10%; /*180px*/
    padding-bottom: 20%; /*100px*/
   /* align-items: center;
    justify-content: center; */
    align-items: flex-start;
    justify-items: center;
   

}

.formulario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.classLogo{
    display: flex;
    flex-direction: row;

}
.classLogo a {
    text-decoration: none;
}
#logo{
    margin-left: 30px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
 
}
#nome_logo{
    color: #419ED7;
    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;

}

.rotulos{
    display: flex;
    flex-direction: column;
    font-size: 25px;
 
    margin-bottom: 30px;
}
.input-label {
    font-size: 24px;
    margin-bottom: 30px;
    color: #FFFFFF;
    text-align: right; 
    
}
.inputs{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    align-items: flex-start;
    justify-self: start; 
    
}

#email {
    height: 30px;
    font-family: 'Averia Libre';
    font-size: 24px;
    color: #3F92C5;
    width: 585px;
    margin-bottom: 30px;
    margin-top: -15px;
    margin-left: 15px;
}

.div_btnRecuperar{
   
        display: flex;
        flex-direction: row;
        align-self: center;
        
        text-decoration: none;
}
.btn_recuperar{
    background-color: #49B976;
    width: fit-content;
    border-radius: 20px;
    font-family: 'Averia Libre';
    padding: 5px;
    color: #FFFFFF;
    font-size: 22px;
    border-style: solid 2px ;
    stroke: #37BD6D;
   
    cursor: pointer;
}