*{
    margin: 0;
    padding: 0;
}

body{
   /* background-color:#ADD5D0; */
    background-image: linear-gradient(160deg,  #CC5803, #E2711D, #FF9505, #FFB627, #FFC971);   
    height: 100vh;

    font-family: 'Averia Libre';
}

.corpoBody{
    height: 85%;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
    
    width: 100%;
    
    
    font-family: 'Averia Libre';
    font-style: normal;
    font-size: 20px;
    color: #419ED7;
    
    
}

/*
form {
    width: 400px;
    padding: 20px;
    /*border: 1px solid #ccc;
    border-radius: 5px; */ /*
} */

.form-group {
   margin-bottom: 20px; 
  }



  .formulario{
    
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80vh;
    text-align: center;
    font-family: 'Averia Libre';
    font-style: normal;
    font-size: 20px;
    color: #419ED7;
    

}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }


  input, textarea {
   
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }

 .rotulos{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
   row-gap: 20px; 
   /* margin-bottom:  10px;
    */
}

.entradasDados{
    /*display: flex;
    flex-direction: column;
    width: 600px; */

    width: 60%;
   

}


.entradasDados input{
    font-family: 'Averia Libre';
    font-size: 16px;
   /* color: #3F92C5; */
    width: 80%;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    
}
    
.entradasDados textarea{
    width: 80%;
    font-family: 'Averia Libre';
    font-size: 16px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.botaoVerde{
    margin-bottom: 20px;
    width: fit-content;
    padding: 5px;
    background-color: #49B976;
    border-radius: 10px;
    font-family: 'Averia Libre';
    font-style: normal;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}