<p> CookBook é um livro de Receitas web, feito com templates mustache, utilizando o framework express.</p>
<p> Na aplicação é possível cada usuário se cadastrar e registrar suas receitas, separando por categorias. </p>
<p> A aplicação já possui 2 Categorias padrões Doces e Salgados, mas que podem ser alteradas ou excluidas, 
as categorias podem ser generalizadas ou especializadas conforme as necessidades do usuário. </p>

<p> Ta Area principal tem as receitas cadastradas onde o usuário pode visualiza-las ou edita-las. </p>
