<h3> Tecnologias que serão utilizadas no projeto </h3>

<ol>
  <li>
    Back-end
    <ul>
      <li>Node</li>
      <li>Express</li>
      <li>Nodemailer</li>
      <li>Body-Parser</li>
      <li>Sequelize</li>
      <li>Joi</li>
      <li>JavaScript</li>
    </ul>
  </li>
  <li>
    Front-end
    <ul>
      <li>Mustache</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
  </li>
  <li>
    Banco de dados
    <ul>
      <li>SQLite3</li>
      
    </ul>
  </li>
</ol>

